header{
	width: 1000px;
	height: 70px;
	background-color: #bbcccc;
	margin-left: auto;
	margin-right: auto;

}

#nombre{
	width: 425px;
	height: 70px;
	background-color: #edf2f2;
	float: left;
}

#logo{
	width: 425px;
	height: 70px;
	background-color: #edf2f2;
	float: left;
}

#botonera_principal{
	width: 575px;
	height: 70px;
	background-color: #bbcccc;
	float: right;
}

nav ul{
	list-style: none; /* saca los puntitos*/
	margin: 0;
	padding: 0;
}

nav ul li{
	display: inline-block; /* lo muestra uno al lado del otro */
	text-shadow: 0px 1px #FFF
}

nav ul li a{
	color: black;
	text-decoration: none;/*le sacamos el subrayado*/
	display: block;
	padding: 26px 20px;/*el alto y el ancho de cada boton respectivamente*/
	font-family: Arial, Helvetica , sans-serif;


}

nav ul li a:hover{
	color: #000;
	background-color: white;
}

section#Inicio{
	width: 1000px;
	height: 1150px;
	background-color: #bbcccc;
	margin-left: auto;
	margin-right: auto;
	
}


#presentacion{
	width: 1000px;
	height: 600px;
	background-color: #0b5924;
	float: left;
	margin-bottom: 10px;
	background-image: url(img/fondo2.jpg);
	background-size: cover;
	
}

#apellido{
	width: 500px;
	height: 70px;
	float: left;
	margin-top: 40px;
	margin-left: 20px;
	font-family: Tw Cen MT;
	font-size: 30px;
}

#descripcion{
	width: 500px;
	height: 150px;
	background-color: #dbf1e847;
	float: left;
	margin-bottom: 20px;
	margin-top: 180px;
	margin-left: 20px;
	font-family: Tw Cen MT;
	font-size: 25px;
	text-align: center;
}


#teoria_algebra{
	width: 320px;
	height: 300px;
	background-color: white;
	float: left;
	/*margin-bottom: 10px;*/
	margin-right: 10px;

}

#venn{
	margin-top: 40px;
	width: 320px;
	height:200px;
}

#contenido_teorico{
	width: 400px;
    height: 250px;
    float: left;
    margin-bottom: 40px;
    margin-top: 0px;
    font-family: Tw Cen MT;
    font-size: 30px;
} 

#texto{
	margin-left: 10px;
	margin-right: 10px;
    margin-top: 30px;
    font-family: Tw Cen MT;
    font-size: 30px;
    text-align: center;

}


#programacion{
	width: 260px;
	height: 300px;
	background-color: white;
	float: right;
	margin-bottom: 10px;
}

#python{
	width: 240px;
	height: 180px;
	margin-left: 20px;
	float: left;

}

#sql{
	width: 260px;
	height: 120px;
	float: left;

}

#imagen_aside{
	width: 1000px;
	height: 250px;
}

footer{
	width: 1000px;
	height: 180px;
	background-color: #000000;
	margin-left: auto;
	margin-right: auto;
}




#datos{
	width: 300px;
	height: 140px;
	margin-left: 10px;
	margin-top: 20px;
	float: left;
}

#links{width: 300px;
	height: 10px;
	font-family: Arial;
	font-size: 15px;

}

#mate{
	font-family: Arial;
	font-size: 15px;
	float: left;

}

#classroom{
	font-family: Arial;
	font-size: 15px;
	float: left;

}

#redes{
	width: 200px;
	height: 40px;
	background-color: black;
	padding: 0px;
	float: right;
}



div ul{
	text-align: center; /* saca los puntitos*/
	padding-top: 30px;
	padding-bottom: 30px;
}

div ul li{
	display: inline-block; /* lo muestra uno al lado del otro */
}

div ul li a{
	padding: 5px;/*el alto y el ancho de cada boton respectivamente*/
}

@media all and (min-width: 600px) and (max-width: 1023px){
	header{
		width: 580px;
		height: 140px;
	}
	
	#nombre{
		width: 580px;
		height: 70px;
		float: none;
		margin-left: auto;
		margin-right: auto;
	}
	
	#logo{
		width: 580px;
		height: 70px;
		float: none;
		margin-left: auto;
		margin-right: auto;
	}
	
	#botonera_principal{
		width: 580px;
		height: 70px;
		float: none;
		margin-left: auto;
		margin-right: auto;
	}
	
	section#Inicio{
		width: 580px;
		height: 1110px;
	}
	
	
	#presentacion{
		width: 580px;
		height: 600px;
		float: left;
		margin-bottom: 10px;
		background-image: url(img/fondo1.jpg);
		background-size: cover;
		
	}
	
	#apellido{
		width: 500px;
		height: 20px;
		font-size: 20px;
		background-color: none;
	}
	
	#descripcion{
		width: 500px;
		height: 150px;
		float: left;
		margin-bottom: 20px;
		margin-top: 10px;
		margin-left: 40px;
		font-size: 25px;
	}
	
	
	
	#teoria_algebra{
		width: 320px;
		height: 280px;
	}

	#venn{
		margin-top: 40px;
		width: 320px;
		height:200px;
	}

	#contenido_teorico{
		width: 250px;
		height: 280px;
		font-size: 20px;
	} 
	
	#texto{
		margin-left: 10px;
		margin-right: 10px;
		margin-top: 0px;
		font-size: 25px;
	
	}
	
	#programacion{
		width: 580px;
		height: 180px;
		float: left;
	}

	
	#sql{
		margin-top: 20px;
		float: right;
	
	}
	
	#imagen_aside{
		width: 580px;
		height: 0px;
	}
	
	footer{
		width: 580px;
		height: 140px;
		margin-left: auto;
		margin-right: auto;
	}
	
	#datos{
		margin-top: 0px;
	}
	
	#redes{
		width: 200px;
		height: 40px;
		background-color: black;
		padding: 0px;
		float: right;
	}
	
	
	
	div ul{
		text-align: center; /* saca los puntitos*/
		padding-top: 30px;
		padding-bottom: 30px;
	}
	
	div ul li{
		display: inline-block; /* lo muestra uno al lado del otro */
	}
	
	div ul li a{
		padding: 5px;
	}	
} /*responsive de 600x1023*/

/*celulares*/

@media all and (max-width: 599px){
	header{
		width: 90%;
		height: auto;
	}
	
	#nombre{
		width: 100%;
		height: auto;
		float: none;
		box-sizing: border-box;
	}

	#logo{
		width: 100%;
		height: auto;
		float: none;
		margin-left: auto;
		margin-right: auto;
	}
	
	#botonera_principal{
		width: 100%;
		height: auto;
		float: none;
		margin-top: 0px;
	}
	
	nav ul{
		list-style: none; /* saca los puntitos*/
		margin: 0;
		padding: 0;
	}
	
	nav ul li{
		display: block;
		text-shadow: 0px 1px #FFF
	}
	
	nav ul li a{
		width: 100%;
		box-sizing: border-box;
		text-align: center;
		margin-bottom: 5px;
		display: inline-block;
		padding: 20px 20px;/*el alto y el ancho de cada boton respectivamente*/
		font-family: Arial, Helvetica , sans-serif;
	
	
	}
	
	
	section#Inicio{
		width: 90%;
		height: auto;
	}
	
	
	#presentacion{
		width: 100%;
		height: auto;
		margin-bottom: 10px;
		background-image: url(img/fondo1.jpg);
		background-size: cover;
		
	}
	
	#apellido{
		width: 80%;
		height: auto;
		margin-top: 10px;
		margin-left: 20px;
		font-size: 20px;
	}
	
	#descripcion{
		width: 100%;
		height: auto;
		float: left;
		margin-bottom: 20px;
		margin-top: 0px;
		margin-left: auto;
		margin-right: auto;
		font-family: Tw Cen MT;
		font-size: 20px;
		text-align: center;
	}
	
	
	#teoria_algebra{
		width: 100%;
		height: auto;
		float: none;
		/*margin-bottom: 10px;*/
		margin-left: auto;
		margin-right: auto;
	
	}
	
	#venn{
		margin-top: 10px;
		width: 100%;
		height:auto;
		float: none;
		margin-left: auto;
		margin-right: auto;
	}
	
	#contenido_teorico{
		width: 100%;
		height: auto;
		float: none;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 10px;
		margin-top: 10px;
	} 
	
	#texto{
		width: 100%;
		height: auto;
		margin-top: 0px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 10px;
		font-family: Tw Cen MT;
		font-size: 20px;
		text-align: center;
		float: none;

	
	}
	
	
	#programacion{
		width: 260px;
		height: 0px;
	}
	
	#python{
		width: 240px;
		height: 0px;
		margin-left: 20px;
		float: left;
	
	}
	
	#sql{
		width: 260px;
		height: 0px;
		float: left;
	
	}
	
	#imagen_aside{
		display: none;
	
	}
	
	footer{
		width: 90%;
		height: auto;
	}
	
	
	#datos{
		width: 100%;
		height: auto;
		margin-left: 10px;
		margin-top: 10px;
		float: none;
		margin-right: auto;
	}
	
	#links{
		width: 100%;
		height: auto;
		font-family: Arial;
		font-size: 12px;
		float: none;
		margin-left: auto;
		margin-right: auto;
		margin-top: 10px;
	
	}
	
	#mate{
		font-family: Arial;
		font-size: 12px;
		float: left;
	
	}
	
	#classroom{
		font-family: Arial;
		font-size: 12px;
		float: left;
	
	}
	
	#redes{
		width: 100%;
		height: auto;
		background-color: black;
		padding: 0px;
		float: none;
		margin-left: auto;
		margin-right: auto;
	}
	
	
	
	div ul{
		text-align: center; /* saca los puntitos*/
	}
	
	div ul li{
		display: inline-block; /* lo muestra uno al lado del otro */
	}
	
	div ul li a{
		padding: 5px;/*el alto y el ancho de cada boton respectivamente*/
	}
	
}

