
#color{
    background-color: #bbcccc;
    margin-left: 15px;
    margin-right: 15px;
}

.menu-section{
	margin-bottom: 1em;
    border-bottom: 1px solid hsl(0, 0%); 

}

.menu ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
    background: black;

}
.menu li a{
	display: block;
	text-decoration: none;
	color: white;
	padding: .6em 1em;

}

.menu li a:hover{
	background: hsl(0 , 0% , 25%);
}


.botonera_principal ul{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.botonera_principal li{
	flex: 1 0 auto;
	text-align: center; 
}

.botonera_principal ul li a{
    font-family: Tw Cen MT;
    font-size: 1.5em;

}

body {
    font-family: Tw Cen MT;
    
}

section#Contacto{
	height: auto;
	background-color: #bbcccc;
	margin-left: 15px;
	margin-right: 15px;
	
}



.formulario{
	float: left;
	width: 600px;
	height: auto;
	margin: auto;
	color:#999;
}

.enviar{
	margin-left: 20px;
}

.caja1{
	width: 200px;
	height: 30px;
	margin: 20px 20px;
	padding: 10px;
	font-size: 14px;
}


.caja2{
	width: 470px;
	height: 100px;
	margin: 20px 20px;
	padding: 10px;
	font-size: 14px;
}



.mapa{
    margin-right: 30px;
    float: right;
    width: 360px;
    height: auto;
}

.frase2{
	width: 380px;
	height: 20px;
	font-size: 20px;
	text-align: center;
	font-family: Tw Cen MT;
}
#map{
	width: 380px;
	height: 300px;
	margin-right: 10px;
	margin-bottom: 10px;
	

}

a:link{
	text-decoration: none;
	}
	a:visited{
		text-decoration: none;
	}
	
	a:active {
		text-decoration: none;
	}
	
	/* posiciono el mouse*/
	a:hover{
	text-decoration: none;
	}

@media all and (min-width: 600px) and (max-width: 1023px){
	
	section#Contacto{
		width: 580px;
		height: auto;
	}
	
	#frase{
		width: 580px;
		height: 30px;
		float: none;
		margin-left: auto;
		margin-right: auto;
		font-family: Tw Cen MT;
		font-size: 28px;
		padding: 20px;
	}
	
	
	.formulario{
		float: none;
		margin-left: auto;
		margin-right: auto;
		width: 580px;
		height: auto;
		margin: auto;
	}

	
	
	.mapa{
		float: none;
		margin-left: auto;
		margin-right: auto;
		width: 360px;
		height: 340px;	
	}

	.frase2{
		width: 360px;
		height: 20px;
		font-size: 20px;
		text-align: center;
		font-family: Tw Cen MT;
	}
	
	#map{
		width: 380px;
		height: 300px;
		float: none;
		margin-left: auto;
		margin-right: auto;
		
	}
}

/*Celulares*/

@media all and (max-width: 599px){
	
	
	section#Contacto{
		width: 90%;
		height: auto;
	}
	
	#frase{
		width: 100%;
		height: auto;
		float: none;
		margin-left: auto;
		margin-right: auto;
		font-family: Tw Cen MT;
		font-size: 15px;
		padding: 20px;
		text-align: center;
	}
	
	
	.formulario{
		float: none;
		margin-left: auto;
		margin-right: auto;
		width: 100%;
		height: auto;
		margin: auto;
	}

	.caja1{
		width: 60%;
		height: auto;
		margin-right: auto;
		margin-left: auto;
	}
	
	
	.caja2{
		width: 90%;
		height: auto;
		margin-right: auto;
		margin-left: auto;
	}
	
	
	.mapa{
		float: none;
		margin-left: auto;
		margin-right: auto;
		width: 90%;
		height: auto;	
	}

	.frase2{
		width: 100%;
		height: auto;
		font-size: 18px;
		text-align: center;
		font-family: Tw Cen MT;
	}
	
	#map{
		width: 100%;
		height: auto;
		float: none;
		margin-left: auto;
		margin-right: auto;
		
	}
}